div.subscribe-edit .red {
	color:red;
}
div.subscribe-edit .green {
	color:green;
}
div.subscribe-edit .errorcolor {
	color:red;
}
div.subscribe-edit .successcolor {
	color:green;
}
table.data-table {
    background-color: #f2f2f2;
}

table.data-table thead {
    background-color: black;
    color: #fff;
}