@media only screen and (min-width: 1200px){
    .gmi-gift-hover:hover{
        position: relative;
        z-index: 3;
    }
    .gmi-gift-hover:hover .prod__hiden{
        display: block;
    }
    .gmi-gift-hover:hover .prod-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}